* {
    list-style: none;
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #061e33;
    overflow: hidden;
}

.ball {
    position: absolute;
    transition: transform 0.5s;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: yellow;
}