* {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    height: auto;
    background: radial-gradient(ellipse at bottom, #0c1116 0%, #161927 100%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  body {
    overflow: hidden;
  }
  