* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
    overflow: hidden;
}


.scene {
    transform-style: preserve-3d;

    .container {
        transform-style: preserve-3d;
        transform: rotateY(45deg);

        .box {
            position: relative;
            transform-style: preserve-3d;
            transform: rotateX(-15deg);

            .cube {
                position: relative;
                transform-style: preserve-3d;
                width: 500px;
                height: 100px;
                transform: translate3d(-250px,-50px,0) rotate(calc(60deg * var(--i)));

                .side {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    transform-style: preserve-3d;
                    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);

                    &:nth-child(1) {
                        transform: rotateX(0deg) translate3d(0,0,100px);
                        height: 100px;
                        background: #fefefe;
                    }

                    &:nth-child(2) {
                        transform: rotateX(90deg) translate3d(0,0,0px);
                        height: 200px;
                        background: #fefefe;
                    }

                    &:nth-child(3) {
                        transform: rotateX(180deg) translate3d(0,0,100px);
                        height: 100px;
                        background: #fefefe;
                    }

                    &:nth-child(4) {
                        transform: rotateX(90deg) translate3d(0,0,100px);
                        height: 200px;
                        background: #fefefe;
                    }

                    &:nth-child(5) {
                        transform: rotateY(90deg) translate3d(0,0,400px);
                        height: 100px;
                        width: 200px;
                        background: #fff;
                    }

                    &:nth-child(5) {
                        transform: rotateY(270deg) translate3d(0,0,100px);
                        height: 100px;
                        width: 200px;
                        background: #fff;
                    }

                }
            }
        }
    }
}