* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background : linear-gradient(#08ff12, #0791ff);
    z-index: 10;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.circle {
    display: flex;
    position: relative;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 0 0 2px #fff5, 0 0 0 20px #333, 0 0 0 22px #fff, 0 0 50px #fff, 0 0 450px #fff;
}

.circle::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 130px;
    background: linear-gradient(0deg,transparent,#fff);
    border-radius: 2px;
    transform-origin: bottom;
    animation: animateNiddles 120s steps(60) infinite
}

.circle::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 170px;
    background: linear-gradient(0deg,transparent,#fff);
    border-radius: 2px;
    transform-origin: bottom;
    animation: animateNiddles 20s steps(60) infinite
}

ul li {
    position: absolute;
    top: 10px;
    transform: rotate(calc(30deg * var(--i)));
    font-weight: bold;
    font-family: consolas;
    font-size: 2.5em;
    transform-origin: 0 240px;
    list-style: none;
}


ul li span {
    display: inline-block;
    color: #fff;
    transform: rotate(calc(-30deg * var(--i)));
    text-shadow: 0 0 15px #fff, 0 0 35px #fff, 0 0 75px #fff;
}

@keyframes animateNiddles {
    0% {
        transform: translate(-50%,-50%)rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
    
}
